---
Checks:
'clang-diagnostic-*,
clang-analyzer-*,
modernize-*,
performance-*,
readability-*,
bugprone-*,
cppcoreguidelines-*,
boost-*,
hicpp-*,
misc-*,
llvm-*,
google-*,
-modernize-use-trailing-return-type,
-readability-function-cognitive-complexity,
-cppcoreguidelines-owning-memory,
-misc-non-private-member-variables-in-classes,
-readability-identifier-length,
-bugprone-easily-swappable-parameters,
-llvm-header-guard,
-misc-no-recursion'
# These checks will throw an error, if encountered.
WarningsAsErrors:
'clang-diagnostic-*,
misc-*,
llvm-*,
google-*,
-google-readability-todo,
modernize-*,
cppcoreguidelines-*,
readability-*,'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
UseColor: true
CheckOptions:
  - { key: misc-const-correctness.AnalyzeValues,              value: false }
  - { key: readability-identifier-naming.NamespaceCase,       value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,        value: camelBack }
  - { key: readability-identifier-naming.VariableCase,        value: camelBack }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticVariableCase,  value: UPPER_CASE }
...
ExtraArgs:
  - '--std=c++11'
